@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* latin-ext */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */

@font-face {
    font-family: 'Supermercado One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/supermercadoone/v12/OpNXnpQWg8jc_xps_Gi14kVVEXOn20H9MQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the 'map-bg.jpg' image. */

body {
    font-family: 'Lato';
    font-size: 18px;
    background-image: url('img/map-bg.jpg');
}

nav {
    font-family: sans-serif;
    font-size: 18px;
}

#main {
    width: 900px;
    margin: 10px auto;
}


/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */

#restaurantName {
    font-family: 'Supermercado One';
    font-size: 45px;
    color: #5d4037;
}


/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */

#menu {
    columns: 400px 2;
    column-gap: 100px;
    column-rule: dashed;
    column-rule-width: 2px;
    column-rule-color: rosybrown;
}

section {
    margin-bottom: 50px;
}


/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */

h2 {
    margin: 0;
    color: #6d4c41;
}


/* Make the name of each menu item appear in bold in a 20px size. */

dt {
    font-size: 20px;
    font-weight: bold;
}

dd {
    margin: 0 0 12px 0;
    display: flex;
}

.details {
    order: 1;
}


/* Show the price of each item in a large font, in the color named 'firebrick' */

.price {
    order: 2;
    padding-left: 10px;
    color: firebrick;
}


/* Draw a 2px dashed rosybrown border around the address/footer */

address {
    padding: 10px;
    border: dashed;
    border-width: 2px;
    border-color: rosybrown;
}